<mat-drawer-container class="example-container" autosize>
    
    <mat-drawer mode="over" #drawer class="example-sidenav" mode="side">
    <ul>
        <li>
        <a class="titulo" routerLink="/listaDeAlumnos" href="">Listado de Alumnos</a>
        </li>
    </ul>
    <ul>
        <li>
        <a class="titulo" routerLink="/cursos" href="">Cursos</a>
        </li>
    </ul>
    <ul>
        <li>
        <a class="titulo" href="">Profesores</a>
        </li>
    </ul>
    </mat-drawer>

    <div class="example-sidenav-content">
    
    <mat-toolbar color="primary">
        <button (click)="drawer.toggle()" mat-icon-button class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
        </button>
        <span>Alumnos</span>
    </mat-toolbar>

<main>
    <router-outlet></router-outlet>
    
</main>
    </div>
</mat-drawer-container>
